In [1]:
import pandas as pd

D:\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
pd = pd.read_csv('blogtext.csv')

In [4]:
pd = pd.head(1000)

In [5]:
pd

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
...,...,...,...,...,...,...,...
995,4313749,female,25,indUnk,Taurus,"22,August,2004",urlLink Me. A doggy bed. Need I...
996,4313749,female,25,indUnk,Taurus,"22,August,2004","Ah yes, the summer Olympics are no..."
997,3827097,female,15,Arts,Pisces,"06,July,2004",Current Music: Could It Be Magic - Do...
998,3827097,female,15,Arts,Pisces,"02,July,2004",Hey. This one of the many things I have...
999,3369668,male,44,indUnk,Taurus,"26,May,2004","Well, today is going okay. I have applied f..."

In [9]:
killpunctuation = str.maketrans('', '', r"-+()\"#/@;:<>{}-=~|.?,")

In [12]:
pd['text'] = pd['text'].apply(lambda text: text.translate(killpunctuation))

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv = CountVectorizer()

In [16]:
text = cv.fit_transform(pd['text']).toarray()

In [18]:
from tensorflow.keras.models import Sequential

In [19]:
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential([
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1)
])

In [21]:
model.compile(optimizer='rmsprop',metrics='mae', loss='mse')

In [24]:
model.fit(text,pd['age'],epochs=10,validation_split=0.3)

Epoch 1/10
22/22 [==============================] - 1s 33ms/step - loss: 24.5607 - mae: 3.1801 - val_loss: 22.7791 - val_mae: 3.0239
Epoch 2/10
22/22 [==============================] - 0s 20ms/step - loss: 19.7395 - mae: 2.7616 - val_loss: 20.5152 - val_mae: 2.8817
Epoch 3/10
22/22 [==============================] - 0s 21ms/step - loss: 15.9920 - mae: 2.5210 - val_loss: 19.0766 - val_mae: 2.8847
Epoch 4/10
22/22 [==============================] - 0s 20ms/step - loss: 13.8049 - mae: 2.3609 - val_loss: 18.1568 - val_mae: 2.9145
Epoch 5/10
22/22 [==============================] - 0s 21ms/step - loss: 11.7662 - mae: 2.2352 - val_loss: 20.0955 - val_mae: 3.3034
Epoch 6/10
22/22 [==============================] - 0s 22ms/step - loss: 10.2598 - mae: 2.0355 - val_loss: 17.9665 - val_mae: 3.0103
Epoch 7/10
22/22 [==============================] - 0s 20ms/step - loss: 9.4559 - mae: 1.9759 - val_loss: 16.8700 - val_mae: 2.9491
Epoch 8/10
22/22 [==============================] - 0s 21ms/step - loss: 7.3761 - mae: 1.7308 - val_loss: 16.3791 - val_mae: 2.8679
Epoch 9/10
22/22 [==============================] - 0s 21ms/step - loss: 6.9458 - mae: 1.7287 - val_loss: 18.1125 - val_mae: 3.1065
Epoch 10/10
22/22 [==============================] - 0s 20ms/step - loss: 6.1487 - mae: 1.6100 - val_loss: 23.8824 - val_mae: 3.8783